@import "../../themes/GlobalThemes.module.scss";


.card {
  margin: 0 0.5rem;
  position: relative;
  cursor: pointer;
}

.truncate {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
}

.imageContainer {
  width: 210px;
  height: 295px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(66, 65, 65, 0.3);
  color: whitesmoke;
}

.imageContainerActive {
  width: 210px;
  height: 295px;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: 2px solid $activeYellowDark;

}

.description {
  padding: 1rem 1rem;
  font-weight: 100;
  color: $yellowDark;
}

.focused {
  box-shadow: 1px 1px 15px 5px grey;
  background-color: rgba(0, 0, 0, 0);
}

.focusedTitle {
  width: 172px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: $activeYellowDark;
  padding: 0 1rem;
}
