.card {
  margin: 0 0.5rem;
  position: relative;
}

.truncate {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.imageContainer {
  width: 210px;
  height: 295px;
  overflow-y: scroll;
  background-color: grey;
  color: white;
}

.description {
  padding: .5rem .5rem;
}