$ligth: #ff3d67;
$arrowsLight: rgba(32, 32, 31, 0.732);
$activeLight: #ff3d67c0;
$backgroundColorLight: rgb(238, 237, 237);
$btnInActiveColorLight: rgba(53, 53, 53, 0.817);
$borderBottomLight: #ff3d67;

$backgroundColorDark: rgb(26, 26, 26);
$yellowDark: rgb(250, 229, 1);
$arrowsDark: rgba(36, 36, 35, 0.732);
$activeYellowDark: rgba(250, 229, 1, 0.732);
$btnInActiveColorDark: rgba(245, 245, 245, 0.695);
$borderBottomDark: rgba(250, 229, 1, 0.286);

/** sunny side **/
$blue-background: #c2e9f6;
$blue-border: #72cce3;
$blue-color: #96dcee;
$yellow-background: #fffaa8;
$yellow-border: #f5eb71;
/** dark side **/
$indigo-background: #808fc7;
$indigo-border: #5d6baa;
$indigo-color: #6b7abb;
$gray-border: #e8e8ea;
$gray-dots: #e8e8ea;
/** general **/
$white: #fff;
