.nav {
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.btnInActive {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.btnActive{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
