@import "../../themes/GlobalThemes.scss";

.nav {
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: larger;
  border-bottom: rgba(250, 229, 1, 0.286) solid;

  .btnInActive {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.695);
    text-decoration: none;
  }

  .btnInActive:hover {
    color: $yellowLigthTheme;
  }

  .btnActive {
    text-decoration: none;
    cursor: pointer;
    color: $activeYellowLigthTheme;
  }
}
