@import "../../themes/GlobalThemes.module.scss";

// .nav {
//   display: flex;
//   justify-content: space-between;
//   padding: 1rem 2rem;
//   font-size: larger;
//   border-bottom: rgba(250, 229, 1, 0.286) solid;

//   .btnInActive {
//     cursor: pointer;
//     color: $btnInActiveColorDark;
//     text-decoration: none;
//   }

//   .btnInActive:hover {
//     color: $yellowDark;
//   }

//   .btnActive {
//     text-decoration: none;
//     cursor: pointer;
//     color: $activeYellowDark;
//   }

//   .ligth {
//     background-color: $backgroundColorLight;
//     // .btnInActive {
//     //   cursor: pointer;
//     //   color: $btnInActiveColorLight;
//     //   text-decoration: none;
//     // }

//     // .btnInActive:hover {
//     //   color: $ligth;
//     // }

//     // .btnActive {
//     //   text-decoration: none;
//     //   cursor: pointer;
//     //   color: $activeLight;
//     // }
//   }

//   .dark {
//     background-color: $backgroundColorDark;
//     // .btnInActive {
//     //   cursor: pointer;
//     //   color: $btnInActiveColorDark;
//     //   text-decoration: none;
//     // }

//     // .btnInActive:hover {
//     //   color: $yellowDark;
//     // }

//     // .btnActive {
//     //   text-decoration: none;
//     //   cursor: pointer;
//     //   color: $activeYellowDark;
//     // }
//   }
// }

.ligth {
  background-color: $backgroundColorLight;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: larger;
  border-bottom: $borderBottomLight solid;

  .btnInActive {
    cursor: pointer;
    color: $btnInActiveColorLight;
    text-decoration: none;
  }

  .btnInActive:hover {
    color: $ligth;
  }

  .btnActive {
    text-decoration: none;
    cursor: pointer;
    color: $activeLight;
  }
}

.dark {
  background-color: $backgroundColorDark;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: larger;
  border-bottom: $borderBottomDark solid;

  .btnInActive {
    cursor: pointer;
    color: $btnInActiveColorDark;
    text-decoration: none;
  }

  .btnInActive:hover {
    color: $yellowDark;
  }

  .btnActive {
    text-decoration: none;
    cursor: pointer;
    color: $activeYellowDark;
  }
}
