@import "../../themes/GlobalThemes.module.scss";

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: larger;
  border-bottom: rgba(250, 229, 1, 0.286) solid;

  .btnInActive {
    cursor: pointer;
    color: $btnInActiveColorDark;
    text-decoration: none;
  }

  .btnInActive:hover {
    color: $yellowDark;
  }

  .btnActive {
    text-decoration: none;
    cursor: pointer;
    color: $activeYellowDark;
  }

  .ligth {
    background-color: $backgroundColorLigth;
    // .btnInActive {
    //   cursor: pointer;
    //   color: $btnInActiveColorLigth;
    //   text-decoration: none;
    // }
  
    // .btnInActive:hover {
    //   color: $blueLigth;
    // }
  
    // .btnActive {
    //   text-decoration: none;
    //   cursor: pointer;
    //   color: $activeLigth;
    // }
  }
  
  .dark {
    background-color: $backgroundColorDark;
    // .btnInActive {
    //   cursor: pointer;
    //   color: $btnInActiveColorDark;
    //   text-decoration: none;
    // }
  
    // .btnInActive:hover {
    //   color: $yellowDark;
    // }
  
    // .btnActive {
    //   text-decoration: none;
    //   cursor: pointer;
    //   color: $activeYellowDark;
    // }
  }
}
