@import "../../themes/GlobalThemes.module.scss";

.container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 2rem;

  .arrow-left-dark,
  .arrow-left-ligth {
    opacity: 0;
  }

  .arrow-right-dark,
  .arrow-right-ligth {
    opacity: 0;
  }

  .carousel {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.container:hover {
  .arrow-left-dark {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    left: 5%;
    color: $arrowsLight;
    opacity: 1;
  }

  .arrow-left-dark:hover,
  .arrow-right-dark:hover {
    color: $yellowDark;
  }

  .arrow-left-ligth {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    left: 5%;
    color: $arrowsLight;
    opacity: 1;
  }

  .arrow-right-dark {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    right: 5%;
    color: $arrowsLight;
    opacity: 1;
  }

  .arrow-right-ligth {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    right: 5%;
    color: $arrowsLight;
    opacity: 1;
  }

  .arrow-left-ligth:hover,
  .arrow-right-ligth:hover {
    color: $ligth;
  }
}
