@import "../../themes/GlobalThemes.scss";

.container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 2rem;

  .arrow-right {
    opacity: 0;
  }

  .arrow-left {
    opacity: 0;
  }

  .carousel {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.container:hover {
  .arrow-right {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    right: 5%;
    color: $arrowsLigthTheme;
    opacity: 1;
  }

  .arrow-right:hover {
    color: $yellowLigthTheme;
  }

  .arrow-left {
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    z-index: 2;
    top: 30%;
    left: 5%;
    color: $arrowsLigthTheme;
    opacity: 1;
  }

  .arrow-left:hover {
    color: $yellowLigthTheme;
  }
}
