.carousel {
  padding: 3.5rem 1rem;
  display: flex;
  overflow-x: scroll;
  display: flex;
  position: absolute;

  .arrow {
    position: relative;
    top: 120;
    font-size: 50px;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}
